<header class="row">
  <div class="col-md-6">
    <h3>Benchmarks / Generate</h3>
  </div>
</header>

<section>
  <form method="POST" class="warning-messages">
    <%= csrf_tag %>
    <div class="btn-group">
      <button class="btn btn-primary" type="submit" name="generate" value="1">Generate!</button>
    </div>
  </form>
</section>
